.margin {
  margin-left: 4em;
}

.main {
  width: 100%;
  height: 100%;
  background-color: white;
}

.upper {
  width: 100%;
  height: 30%;
  background-color: #a03037;
  display: flex;
}

.dashboard {
  width: 80%;
  height: 30%;
  background-color: #a03037;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  width: 10%;
  font-size: fit-content;
  margin: 2%;
  color: white;
  font-size: large;
}

.search {
  width: 50%;
  height: 60%;
  background-color: white;
  margin: 2%;
  padding: 0%;
  border-radius: 0%;
}

.subMain {
  width: 100%;
  height: 100%;
  background-color: white;
}

.lower {
  width: 80%;
  height: 100%;
  margin-left: 10%;
}

.imageSpace {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookImg {
  width: 47%;
  height: 9em;
  padding: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookName {
  font-size: 75%;
  padding-left: 15%;
  color: black;
  font-weight: 500;
  padding-top: 3%;
  padding-bottom: 2%;
}

.authorName {
  font-size: 60%;
  padding-left: 15%;
  color: #9b9898;
}

.buttonBuyNow {
  width: 58%;
  font-size: 100%;
  border-radius: 2%;
  background-color: #a03037;
  color: white;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 1%;
  margin-left: 20%;
  margin-top: 0%;
  margin-bottom: 7%;
  cursor: pointer;
}

.div {
  display: inline-block;
  width: 20%;
  margin: 2%;
}

.card {
  width: 100%;
  height: 250%;
  display: flex;
  flex-direction: column;
  border: 0px solid lightgray;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.12);
}

.toolbar {
  background-color: rgb(151, 5, 5);
}

.iconButton {
  color: white;
  margin-left: 0em;
}

.books {
  font-size: 1em;
  padding-left: 7%;
}

.itemsShow {
  font-size: 65%;
  margin-left: 0%;
  color: #9b9898;
}

.bookStoreLogo {
  padding-left: 1%;
}

/*

.DivBox {
    display: flex;
    flex-wrap: inherit;
    justify-content: flex-start;
    max-width: 200em;
    margin: 4em;
    background: #A0C5E8;
    padding: 2em 0;
}*/
