
.shippingdiv {
    display: inline-block;
    width: 40em;
    height: 10em;
    margin: 2em;
}

.shippingcard {
    margin-left: 8em;
    width: 40em;
    height: 15em;
    flex-direction: row;
    border: 0em solid lightgray;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.12);
}

.shippingimage{
    margin: 2em;
}

.shippingimageSpace {
    width: 70%;
    background-color: #f5f5f5;
    display: flex;
    margin-left: 3%;
    align-items: center;
}

.shippingbookImg {
    width: 22%;
    height: 9em;
    margin-left: 1em;
    padding: 2em;
    display: flex;
}

.shippingbookName {
    font-size: 1vw;
    padding-left: 1em;
    color: black;
    font-weight: 500;
    padding-top: 4%;
    padding-bottom: 4%;
}

.shippingauthorName {
    font-size: 70%;
    padding-left: 1em;
    color: #9b9898;
}

.shippingmargin {
    margin-left: 8%;
}


.shippingbooks {
    padding-left: 10em;
}

.shippingItemsShow {
    font-size: 10em;
    margin-left: 0em;
    color: #9b9898;
}

