.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: green;
  height: 150px;
  padding: 20px;
  color: green;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.boxwala{
  margin-left: 5%;
  margin-right: 30em;
  height: fit-content
}

/*.detailsBox{
  margin-left: 13%;
  margin-top: 7%;
}*/
.checkout{
  margin-left: 75%;
  margin-bottom: 2em;
}
.buttonCheckout{

}
.userAddress.MuiFormControl-root{
  width: 250px;
  margin: 8px;
  margin-left: 1em;
}
.user {
  width: 9%;
}
.makeStyles-root-1{
  margin-top: 15px;
}
.MuiInputBase-root MuiOutlinedInput-root MuiInputBase-formControl{
  width: 300%;
}
.MuiBox-root-130{
  color: black;
}
.SummaryBox{
  width: 42em;

  margin-right: 20%;
}
.BootomBar{
  margin-top: 10%;
}
input[type="radio"] {
  margin-right: 0;
}
.NameAndEmail{
  color: black;
}
.addressBlock{
  margin-left: 1em;
}

.block{
  width: 27em;

}

.customerTitle{
  padding-left: 1em;
}

.paper{
  width: 36em;
}

.type{
  font-size: large;
  margin-left: 4%;
}

